<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" th:fragment="sidebar">
  <div class="position-sticky pt-4 ms-5">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-speedometer2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-table"></i> Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-grid"></i> Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-people"></i> Customers
        </a>
      </li>
    </ul>
  </div>
</nav>