<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" th:fragment="sidebar">
  <div class="position-sticky pt-4 ms-5">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-bell"></i> 공지사항
        </a>
      </li>
    </ul>

    <hr>

    <div sec:authorize="isAnonymous()">
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="bi bi-door-open"></i> 로그인
          </a>
        </li>
      </ul>
    </div>

    <div sec:authorize="isAuthenticated()">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>내 정보</span>
      </h6>
      <ul class="nav flex-column mb-2 mt-2">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/member/profile/{id}(id=${#authentication.principal.member.id})}">
            <i class="bi bi-person"></i> 프로필
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/note">
            <i class="bi bi-envelope"></i> 쪽지함
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/member/account-setting">
            <i class="bi bi-gear"></i> 계정 설정
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-chat-dots"></i> 알림
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="bi bi-box-arrow-right"></i> 로그아웃
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>